extends layout

block content
  // Header
  header
    #maincontent.container(tabindex='-1')
      .row
        .col-lg-12
          img.img-responsive(src='img/profile.png', alt='')
          .intro-text
            h1.name Start Bootstrap
            hr.star-light
            span.skills Web Developer - Graphic Artist - User Experience Designer
  section#portfolio(data-ng-controller='ProductController')
    .container
      .row
        .col-lg-12.text-center
          h2 Products
          hr.star-primary
          .col-xs-10.col-xs-offset-1
            form(name='newRowForm' novalidate)
              table.table
                tr
                  td(ng-repeat='col in cols')
                    input.form-control(
                      name='{{col.key}}',
                      ng-model='newRow[col.key]',
                      required=""
                    )
                  td 
                    button.btn.btn-success(
                      type='button',
                      ng-click='insertRow(newRow)',
                      ng-disabled='!newRowForm.$valid'
                    )
                      span.glyphicon.glyphicon-plus
            
          .col-xs-10.col-xs-offset-1
            table.table.table-striped
              thead
                tr
                  th(ng-repeat='col in cols') {{col.label}}
                  th 
                tr
                  td(ng-repeat='col in cols')
                    input.form-control(ng-model='search[col.key]')
                  td 
              tbody
                tr(ng-repeat='row in tableData | filter:search')
                  td(ng-repeat='col in cols')
                    input.form-control(ng-model='row[col.key]')
                  td
                    .btn-group
                      button.btn.btn-info(ng-click='editRow(row)')
                        span.glyphicon.glyphicon-edit
                      button.btn.btn-danger(ng-click='deleteRow(row)')
                        span.glyphicon.glyphicon-trash
      